
footer{
    background: #000000;
    padding: 3rem;

}
footer li a,footer p{
    color: #fff;
}

.color-blue{
    color: #56b4e4;
}
.color-orange{
    color: #C1403D;
}
.color-green{
    color: #00c35a;
}
.congrats-text {
    font-size: 240%;
    word-spacing: 2px;
    justify-content: center;
    margin-bottom: 4%;
    letter-spacing: 1px;
    color: #C1403D;
    margin-top: 10%;
}
.congrats-message{
    font-size: 130%;
}
.bottom-text-blue{
    margin-bottom: 8.4%;
}

.bg-ash{
    background-color: #fbfbfb;
}
.container-custom-min-height{
    min-height: 57.3vh;
}
/* Links */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #C1403D;
    border: 1px solid #C1403D;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #C1403D;
}

.sticky .main-nav .btn:hover { color: #fff !important;

    background-color: #C1403D;
    border: 1px solid #C1403D;

}

.btn-green {
    background: #00897b;
    color: #ffffff;
    border-radius: 0;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;

}

body {
    display: -ms-flexbox;
    display: flex;

}

/*!* Sticky navi *!*/
.sticky {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav .btn { color: #fff !important;

    background-color: #1e824c;
    border: 1px solid #1e824c;

}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.logo-black {

    float: left;
    /*margin: 15px 0;*/
    margin-left: 3%;

}

.logo-black img{
    height: auto;
    width: 55% !important;
}

.main-nav {
    float: right;
    list-style: none;
    /*padding-left: 9%;*/
}
.main-nav li {
    display: inline-block;
    margin-left: 5%;
    margin-right: 0;
    float: right;

}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 100%;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #C1403D;
}

.main-nav .btn {
    display: inline-block;
    padding: 10px 20px !important;
    font-size: 65% !important;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0px;
    color: #000 !important;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

.currency-size {
    font-size:20px;
}


