body{background:#f9ffff;}
.color-blue{
    color: #45c0ff;
}
.color-green{
    color:#00897b
}
.font-medium{
    font-size:1.6rem;
}
/* Links */
a,
a:focus,
a:hover {
    color: #00b0ff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #009687;
    border: 1px solid #009687;
}

.sticky .main-nav .btn:hover { color: #fff !important;

    background-color: #C1403D;
    border: 1px solid #C1403D;

}


.container-custom{
    max-width: 1280px;
}

.padding-top-success{
    padding-top:16%;
}
body {
    display: -ms-flexbox;
    display: flex;

}

.div-rom{
    background-color: #00897b !important;
}

.btn-green {
    background: #00897b;
    color: #ffffff;
}
.btn-green-outline {
    background: #ffffff;
    color: #00897b;
    border: 1px solid #00897b;
}
.color-orange{
    color: #C1403D;
}

/*login page*/

.login-top-padding{
    padding-top: 10%;
}

.login-header p{
    font-size: 1.5rem;
    font-weight:300;
}

.login-logo img{
    width: 80%;
    height: auto;
}
.option-section{
    display: inline-flex;
}

/*queries*/
@media only screen and (max-width: 425px){

    .login-top-padding{
        padding-top: 20%;
    }
    .login-logo img{
        width: 120%;
    }
}

@media only screen and (max-width: 768px){
    .big-line {
        font-weight: 500;
        font-size: 160%;
    }
    .login-top-padding{
        padding-top: 12%;
    }
}

@media only screen and (max-width: 1023px){
    .big-line {
        font-weight: 500;
        font-size: 160%;
    }

}

@media only screen and (max-width: 1200px) {
    .main-marketing-text {
        margin-top: 25%;
    }
}
